.about-project {
  background-color: rgba(25, 33, 68, 1);
  padding-bottom: 82px;
  border-radius: 30px;
}

.about-project__title {
  margin-bottom: 19px;

  @include text(24px, 24px, $text-orange, 700);
}

.about-project__text {
  @include text(16px, 22px, $text-white, 300);

  &--bold {
    font-weight: 700;
  }
}
