.feedback {
  background-color: rgba(25, 33, 68, 1);
  border-radius: 30px;
  padding: 105px 0 44px 0;
  text-align: center;
}

.feedback__title {
  margin-bottom: 19px;

  @include text(24px, 24px, $text-orange, 700);
}

.feedback__text {
  @include text(16px, 22px, $text-white, 300);
}

.feedback__link {
  color: $text-yellow;

  &:hover,
  &:focus {
    color: $text-orange;
  }

  &:active {
    color: $text-orange;
    opacity: 0.3;
  }
}

.feedback__email {
  border: none;
  border-radius: 10px;

  &::placeholder {
    padding: 22px 25px;

    @include text(18px, 18px, $text-grey, 700);
  }
}

.feedback__phone,
.feedback__email {
  line-height: 22px;
  color: $text-yellow;
}
