.main-footer {
  padding: 37px 0 0 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: -30px 0 0 0;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__logo {
  margin: 0 0 40px 0;
}

.main-footer__social {
  margin: 0 0 37px 0;
}

.main-footer__developer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 0 0 0;
  border-top: 1px solid rgba(242, 242, 242, 1);
}
