.main-footer {
  text-align: center;
  padding: 37px 0 0 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  &__logo {
    margin: 0 0 40px 0;
  }

  &__social {
    margin: 0 0 37px 0;
  }

  &__developer {
    padding: 13px 0 0 0;
    border-top: 1px solid rgba(242, 242, 242, 1);
  }
}
