.worlds-parts {
  padding: 0;
  list-style: none;
}

.worlds-parts__button {
  text-transform: uppercase;
  background-color: transparent;
  border: none;

  @include text(16px, 18px, $text-dark, 700);
  @include opacity-hover-active;
}
