@mixin text($size, $height, $color, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  color: $color;
}

@mixin opacity-hover-active($hover: 0.6, $active: 0.3) {
  &:hover,
  &:focus {
    opacity: $hover;
  }

  &:active {
    opacity: $active;
  }
}

//ВРЕМЕННО
@mixin outline($color: rgba(255, 0, 0, 1)) {
  outline: 2px solid $color;
  outline-offset: -2px;
}
