//user-indicator
$offline: rgba(249, 118, 118, 1);
$online: rgba(129, 227, 30, 1);
//text
$text-white: rgba(255, 255, 255, 1);
$text-black: rgba(0, 0, 0, 1);
$text-yellow: rgba(255, 215, 75, 1);
$text-orange: rgba(255, 141, 48, 1);
$text-dark-orange: rgba(255, 92, 35, 1);
$text-blue-light: rgba(29, 46, 91, 1);
$text-blue: rgba(22, 28, 53, 1);
$text-grey: rgba(68, 68, 68, 1);
$text-dark: rgba(25, 33, 68, 1);
